*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#nav_head{
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #fee2b3;
}
#ws_name{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
}
#nav_bar{
    width: 70%;
    display: flex;
    font-size: medium;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.sec_size{
    height: 650px;
    width: 100%;
}

#sec_1{
    padding-top: 10%;
    background-image: url(photo_video/sec_1_bg.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    gap: 20%;
}

#sec_1 div{
    height: 80%;
    width: 35%;
    border-radius: 1%;
}
#s1d1
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
}
#txt2{
    font-size: x-large;
}
#s1form{
    background-color: white;
    
}
#s1form_heading{
    margin-top: 15%;
    font-size: xx-large;
    color: #364d59;
    font-weight: 10;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.s1form_cont{
    height: 40px;
    width: 90%; 
    margin-top: 5%;
    margin-left: 5%;
}
#s1form_button{
    background-color: #fee2b3;
    border-color: #fee2b3;
    border-radius: 10%;
}
#s1form_button:hover{
    background-color: #fac871;

}

#sec_2{
    background-color: #f8f9fa;
}

#s2d1{
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.s2d1t{
    text-align: center;
}
#s2d1t1{
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#s2d2{
    height: 70%;
    width: 100%;
}
.s2d2_od{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.br_box{
    height: 90%;
    width: 20%;
    border-radius: 5%;
    background-color: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.br_box_in{
    height: 60%;
    width: 80%;
}
.br_box_in h3{
    font-size: 24px;
}
.br_box_in p{
    color:rgb(60,63,66);
    font-size: small;
}
.br_icon{
    height:30px;
    width:30px;
    background-color: #fee2b3;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#sec_3{
    display: flex;
}

#s3d1{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%;
}

#s3d1 img{
    height: 60%;
    width: 35%;
}

#s3d2{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#s3d2_id{
    height: 50%;
    width: 70%;
    display: flexbox;
    justify-content: center;
    align-items: center;
}
#s3d2 h3{
    font-size: 28px;
}
#s3d2 p{
    color: gray;
    font-size: 16px;
}

#s3d2 input{
    height: 40px;
    width: 40%; 
    background-color: #fee2b3;
    border-color: #fee2b3;  
}
#s3d2 input:hover{
    background-color: #fac871;

}

#sec_4{
    background-color: #f8f9fa;
}

#s4d1{
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
}


#s4d2{
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.s4d2_box{
    width: 25%;
    height: 60%;
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: 0px 4px 12px gray;
}